$primary-color: #2196f3;
$secondary-color: #1976d2;
$primary-text: #212121;
$accent-color: #ff4081;
$base: #03a9f4;
$text: #555;
$invalid: #e91e63;
$width: 400px;
$cubic: cubic-bezier(0.64, 0.09, 0.08, 1);

.main {
  padding: 50px 0 60px 0;
}

:root {
  --succes-color: #2ecc71;
  --error-color: #e74c3c;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

h1 {
  width: 100%;
  background: $primary-color;
  padding: 20px;
  color: white;
  box-shadow: 0 5px 5px 0 rgba(0, 0, 0, 0.05);
  border-radius: 3px 3px 0 0;
  text-align: center;
}

.container {
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
  width: 600px;
  margin: auto;
}

h2 {
  text-align: center;
  margin: 0 0 20px;
}

.form {
  padding: 10px 20px;
  margin: auto;
}

.form-control {
  margin-bottom: 10px;
  padding-bottom: 20px;
  position: relative;
}

.form-control label {
  color: #777;
  display: block;
  margin-bottom: 5px;
}

.form-control input,
textarea {
  border: 2px solid #f0f0f0;
  border-radius: 4px;
  display: block;
  width: 100%;
  padding: 10px;
  font-size: 14px;
  border-bottom: 1px solid $primary-color;
  padding-top: 30px;
}

.form-control input:focus,
textarea:focus {
  outline: 0;
}

.form-control small {
  color: var(--error-color);
  position: absolute;
  bottom: 0;
  left: 0;
  visibility: hidden;
}

.form-control.error small {
  visibility: visible;
}
.form button {
  cursor: pointer;
  background-color: #3498db;
  border: 2px solid #3498db;
  border-radius: 4px;
  color: #fff;
  display: block;
  padding: 10px;
  font-size: 16px;
  margin-top: 20px;
  width: 100%;
}

.send-button {
  margin-top: 15px;
  height: 40px;
  width: 400px;
  overflow: hidden;
  transition: all 0.2s ease-in-out;
}

.alt-send-button {
  height: 16px;
  transition: all 0.2s ease-in-out;
}

.send-text {
  display: block;
  margin-top: 12px;
  font: 700 12px "Lato", sans-serif;
  letter-spacing: 2px;
}

.alt-send-button:hover {
  transform: translate3d(0px, -29px, 0px);
}

@media only screen and (min-width: 360px) and (max-width: 1000px) {
  .container {
    position: relative;
    z-index: 99;
    width: 90%;
    height: 100%;
  }
}

@media screen and (device-aspect-ratio: 40/71) {
  .container {
    position: relative;
    z-index: 99;
    width: 90%;
    height: 100%;
  }
}
