$primary-color: #2196F3;
$secondary-color: #1976D2;
$primary-text: #212121;
$accent-color: #FF4081;

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  background-color: #ecf9ff;
}

* {
  padding: 0;
  margin: 0;
}

body {
  color: $primary-text;
  font-family: 'Quicksand', serif;
  font-style: normal;
  font-weight: 400;
  letter-spacing: 0;
    
}

.main{
  max-width: 1200px;
  margin: 0 auto;
}

h1 {
    color: $primary-text;
    font-size: 24px;
    font-weight: 800;
    text-align: center;
    padding: 30px 0 10px 0;
}

img {
  height: auto;
  max-width: 100%;
  vertical-align: middle;
  padding: 10px;
}

.btn {
  color: #ffffff;
  padding: 0.8rem;
  font-size: 14px;
  text-transform: uppercase;
  border-radius: 4px;
  font-weight: 400;
  display: block;
  width: 100%;
  cursor: pointer;
  border: 1px solid rgba(255, 255, 255, 0.2);
  background: $primary-color;
}

.btn:hover {
  background-color: $secondary-color;
}

.cards {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  margin: 0;
  padding: 0;
  color: $primary-text;
}

.cards_item {
  display: flex;
  padding: 1rem;
  color: $primary-text;
}

.card_title {
  padding-bottom: 4px;
}

@media (min-width: 40rem) {
  .cards_item {
    width: 50%;
  }
}

@media (min-width: 56rem) {
  .cards_item {
    width: 33.3333%;
  }
}

img {
  background-color: $primary-color;
}

.card {
  background-color: white;
  border-radius: 0.25rem;
  box-shadow: 0 20px 40px -14px rgba(0, 0, 0, 0.25);
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.card_content {
  padding: 1rem;
  background: white;
}

.card_title {
  color: $primary-text;
  font-size: 1.1rem;
  font-weight: 700;
  letter-spacing: 1px;
  text-transform: capitalize;
  margin: 0px;
}

.card_text {
  color: $primary-text;
  font-size: 0.875rem;
  line-height: 1.5;
  margin-bottom: 1.25rem;    
  font-weight: 400;
}
  .product-grid,
  .product-grid .product-image4 {
    position: relative
  }
  .product-grid {
    font-family: Poppins, sans-serif;
    text-align: center;
    border-radius: 5px;
    overflow: hidden;
    z-index: 1;
    transition: all .2s ease 0s
  }

  .product-grid .product-image4 a {
    display: block
  }
  .product-grid .product-image4 img {
    width: 100%;
    height: auto
  }
  .product-grid .pic-1 {
    opacity: 1;
    transition: all .5s ease-out 0s
  }
  .product-grid:hover .pic-1 {
    opacity: 0
  }
  .product-grid .pic-2 {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    transition: all .5s ease-out 0s
  }
  .product-grid:hover .pic-2 {
    opacity: 1
  }

  @media only screen and (max-width:990px) {
    .product-grid4 {
      margin-bottom: 30px
    }
  }
