body {
  margin: 0;
  padding: 0;
}

.card_wrapper {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(250px, 1fr))[auto-fill];
      grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  margin: 0 auto;
  height: 100%;
  padding: 30px 28px;
  grid-gap: 30px;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
}

.card {
  font-family: Verdana, sans-serif;
  font-weight: 800;
  font-size: 16px;
  color: #212121;
  display: block;
  -webkit-transition: -webkit-transform 0.1s cubic-bezier(0.374, 0.019, 0.035, 1.861);
  transition: -webkit-transform 0.1s cubic-bezier(0.374, 0.019, 0.035, 1.861);
  transition: transform 0.1s cubic-bezier(0.374, 0.019, 0.035, 1.861);
  transition: transform 0.1s cubic-bezier(0.374, 0.019, 0.035, 1.861), -webkit-transform 0.1s cubic-bezier(0.374, 0.019, 0.035, 1.861);
  background-color: #2196F3;
  border-radius: 4px;
  width: 100%;
  text-align: center;
  padding: 20px 10px;
  -webkit-box-shadow: 0px 3px 4px rgba(0, 0, 0, 0.2), 0 2px 6px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 3px 4px rgba(0, 0, 0, 0.2), 0 2px 6px rgba(0, 0, 0, 0.2);
}

.card:hover {
  -webkit-box-shadow: 0 3px 12px 2px rgba(0, 0, 0, 0.15);
          box-shadow: 0 3px 12px 2px rgba(0, 0, 0, 0.15);
  -webkit-box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
          box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
}

.card:hover {
  -webkit-transform: scale(1.03);
          transform: scale(1.03);
}

.card img {
  width: 60%;
}

h1 {
  margin: 0;
  font-weight: lighter;
  color: #212121;
  font-size: 3rem;
  padding-bottom: 10px;
}

h2 {
  text-align: center;
  padding-top: 10px;
  color: #212121;
}

p {
  font-weight: lighter;
}

.hero {
  position: relative;
  height: 100%;
  min-height: 100vh;
  color: #212121;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.background, .background-left, .background-right {
  z-index: -1;
  height: 100%;
  width: 100%;
  position: absolute;
}

.background-left {
  z-index: -1;
  background: #2196F3;
}

.background-right {
  z-index: -1;
  background: #1976D2;
  -webkit-clip-path: polygon(0 0, 0% 100%, 90% 100%);
          clip-path: polygon(0 0, 0% 100%, 90% 100%);
}

.hero-content {
  height: 100%;
  min-height: 100vh;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 3rem 1rem;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 99;
  position: relative;
}

.hero-right {
  font-family: Verdana, sans-serif;
  color: #212121;
  -webkit-animation: slide-in-right 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
          animation: slide-in-right 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  position: relative;
  width: 100%;
  height: 100%;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  text-align: center;
}

.hero-image {
  position: relative;
  z-index: 99;
  width: auto;
  height: 100%;
  max-height: 500px;
}

@-webkit-keyframes slide-in-left {
  0% {
    -webkit-transform: translateX(-1000px);
    transform: translateX(-1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes slide-in-left {
  0% {
    -webkit-transform: translateX(-1000px);
    transform: translateX(-1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
  }
}

@-webkit-keyframes slide-in-right {
  0% {
    -webkit-transform: translateX(1000px);
    transform: translateX(1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes slide-in-right {
  0% {
    -webkit-transform: translateX(1000px);
    transform: translateX(1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
  }
}

@media only screen and (min-width: 360px) and (max-width: 1000px) {
  .hero-image {
    position: relative;
    z-index: 99;
    width: 90%;
    height: 100%;
    max-height: 500px;
  }
}

@media screen and (device-aspect-ratio: 40 / 71) {
  .hero-image {
    position: relative;
    z-index: 99;
    width: 90%;
    height: 100%;
    max-height: 500px;
  }
}
/*# sourceMappingURL=style.css.map */